{% extends "bootstrap/base.html" %}

{% block title %}NBA即時賽事 - 取得最新賽況{% endblock %}

{% block scripts %}
<script src="static/js/thirdParty/jquery-3.2.1.min.js"></script>
<script src="static/js/reporter/reporter.js"></script>
<link rel="stylesheet" type="text/css" href="/static/style.css">
{{super()}}
{% endblock %}

{% block content %}
<h2>Welcome to NBA Game .</h2>

<form action="list" id="form" enctype="multipart/form-data" method="post">
    <input type="hidden" id="time" name="time" value="{{ report_data['time'] }}">
    <table>
        <tr>
            <td>
                <textarea id="reportData" style="width:250px;height:500px;">{{ report_data['report'] }}</textarea>
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" id="list" value="取得最新賽況" />
                <input type="button" id="download" value="下載MP3檔案(一)" />
                <input type="button" id="index" value="回首頁" />
            </td>
        </tr>
        <tr>
            <td>
                <!--
                    url_for 以下的方式是由於預設的靜態元件都設定在static folder，故若想直接用html href實現下載，
                    需使用download屬性，並將產生的mp3檔案放在static底下的任何一個folder都可以抓得到
                -->
                <a id="download2" download href="{{ url_for('static', filename='Sound/NBAReporter.mp3') }}" target="_blank">下載MP3檔案(二)</a>

                <!--
                    url_for 以下的方式是發送request請求並使用flask提供的send_from_directory實現下載，url_for('對應route def 名稱', '檔名')
                -->
                <a id="play" href="{{ url_for('player_method', filename='NBAReporter.mp3') }}" target="_blank">線上播放MP3</a>
            </td>
        </tr>
    </table>
</form>
{% endblock %}
