{% extends "bootstrap/base.html" %}

{% block title %}NBA即時賽事 - 取得最新賽況{% endblock %}

{% block content %}
    <h2>Welcome to NBA Game .</h2>
    
    <form action="list" id="form" enctype="multipart/form-data" method="post">
        <table>
            <tr>
                <td>
                    <textarea id="reportData" style="width:250px;height:500px;">{{reportData}}</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" id="list" value="取得最新賽況" />
                    <input type="button" id="download" value="下載MP3檔案" />
                    <input type="button" id="index" value="回首頁" />
                </td>
            </tr>
        </table>
    </form>
    {% endblock %}

{% block scripts %}
<script src="static/js/thirdParty/jquery-3.2.1.min.js"></script>
<script src="static/js/reporter/reporter.js"></script>
{{super()}}
{% endblock %}