<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="static/js/thirdParty/jquery-3.2.1.min.js"></script>
    <title>NBA即時賽事 - 取得最新賽況</title>
</head>
<body>
    Welcome to NBA Game .
    <form action="list" id="form" enctype="multipart/form-data" method="post">
        <table>
            <tr>
                <td>
                    <textarea id="reportData">{{reportData}}</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" id="list" value="取得最新賽況" />
                </td>
                <td>
                    <input type="button" id="download" value="下載MP3檔案" />
                </td>
                <td>
                    <input type="button" id="index" value="回首頁" />
                </td>
            </tr>
        </table>
    </form>
</body>

<script>
    $(function() {
        form = $("#form");

        $("#list").click(function () {
            console.log("List Data ...")
            form.attr('action', 'list');
            form.submit();
        });

        $("#download").click(function () {
            console.log("Download File ...")
            form.attr('action', 'download');
            form.submit();
        });

        $("#index").click(function () {
            console.log("Go to index ...")
            form.attr('action', 'index');
            form.submit();
        });
    });
</script>
</html>